.jumbotron {
    background-image: url("../images/burger-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

@media (min-width: 200px) {
    .jumbotron {
        padding: 1rem 1rem;
    }}
